.shared-bannertext-banner {
	padding: 56px 0;
	background: #29b363;
	color: #ffffff;
	font-size: 14px;
  font-family: Muli, "Roboto", sans-serif;
  
  .title {
  	font-size: 36px;
  	margin: 5px;
  }
}
