.layouts-header-container {
	padding: 15px 0 3px; 
	@extend .z-depth-1; 
	
	.container {
		.row {
			margin-bottom: 0;
		}	
	}

	.user { 
		position: relative;
		width:100%;
		float: right;
		
		.thumb {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 50%;
			float: right;
			img{
				width:100%;
				height:100%;
			}
		}

		.user-info {
			position: absolute;
			top:0;
			bottom:0;
			right:75px ;
			margin:auto;
			display:table;
			font-family: Lato, "Roboto", sans-serif;
			font-size: 14.4px;
			
			.user-type { 
				color: #969696;
			}

			.user-name {
				font-weight: bold;
				color: #000000;
			}
		}	
	}
}